<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>Users for AppTwo</h1>

<!-- First check to see if the key users even exists -->
    {% if users %}

    <ol>
      {% for person in users %}
      <li>User Info</li>
        <ul>
          <!-- Double brackets b/c we're just injecting text -->
          <li>First Name: {{ person.first_name }}</li>
          <li>Last Name: {{ person.last_name }} </li>
          <li>Email: {{ person.email }}</li>

        </ul>
      {% endfor %}
    </ol>


    {% endif %}


  </body>
</html>
